
body {
  padding: 0;
  text-align: left;
  font-family: Helvetica;
}

.image {
  height: 100%;
  width: 100%;
  background-image: url("/images/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  z-index: -1;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.map {
  margin: 0 25%;
  padding: 6px;
  border: 2px solid #f1f1f1;
  border-top: 2px solid #f1f1f1;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow:-20px 20px 70px black;
}

.onmobile {
  font-weight: 600; 
}

.onmobile.navbar-brand {
  color: #28a745;
}

#navbarSupportedContent {
  text-align: left;
}


 @media screen and (max-width: 960px){
  .map {
    margin: 0 2%;
    /* height: 500px; */
  }
  .brand {
    font-size: 1rem;
  }
  .navbar {
    display: inline-block;
  }
  .onmobile.navbar-brand {
    color: white;
  }
  .map {
    border-radius: 3px;
  }
}
